# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo

# =====================
# Virtual Environments
# =====================
venv/
.venv/
env/

# =====================
# IDE / OS
# =====================
.idea/
*.iml
.DS_Store
.vscode/

# =====================
# Data files (IMPORTANT)
# =====================
*.csv
*.tsv
*.xlsx

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Logs & cache
# =====================
*.log
.cache/
